@page "/WebSites/edit"

@using Microsoft.EntityFrameworkCore
@using BlazorAppTestAccounts15AUG.Models
@inject IDbContextFactory<BlazorAppTestAccounts15AUG.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>WebSite</h4>
<hr />
@if (WebSite is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="WebSite" OnValidSubmit="UpdateWebSite" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="WebSite.Id" value="@WebSite.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="WebSite.Name" class="form-control" />
                    <ValidationMessage For="() => WebSite.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="create" class="form-label">Create:</label>
                    <InputDate id="create" @bind-Value="WebSite.Create" class="form-control" />
                    <ValidationMessage For="() => WebSite.Create" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/websites">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public WebSite? WebSite { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        WebSite ??= await context.WebSite.FirstOrDefaultAsync(m => m.Id == Id);

        if (WebSite is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateWebSite()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(WebSite!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!WebSiteExists(WebSite!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/websites");
    }

    bool WebSiteExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.WebSite.Any(e => e.Id == id);
    }
}
